body {
        background-color: #2E2C2C;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#info {
        padding-top: 36px;
}

/* Style all icons */
.fa {
        padding: 20px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
}

.fa:hover {
        opacity: 0.7;
}